#roomSearchArea {
    background-color: lightgray;
    width: 100%;
    border-radius: 10px;
    padding: 0 .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-hold {
    align-items: center;
}

.roomSearchBtn {
    height: fit-content;
}

.sticky-active {
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}